Options SymLinksIfOwnerMatch ExecCGI Includes IncludesNOEXEC -Indexes

# Turn on URL rewriting
RewriteEngine On

# Setting the base to Root directory
RewriteBase /

# Protect application and system files from being viewed
RewriteRule ^(application|modules|system) - [F,L]

# /students makes all our links go wrong! Adding a redirection to avoid it
RewriteRule ^students$ students/ [R=302,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]